<a href="/hotel/details/{{_id}}" class="added-hotel">
    <img src="{{imageUrl}}"
         alt="hotel image"
         class="picture-added-hotel">
    <h3>{{name}}</h3>
    <span>Free rooms: {{freeRooms}}</span>
</a>
