<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{title}}</title>
        <link rel="stylesheet" href="/styles/mainStyle.css" />
    </head>
    <header>
        <ul id="headerContainer">
            <li class="navItem"><a class="navLink" href="/">GO TO DA HOUM PEIDJ</a></li>
            <li class="navItem"><a class="navLink" href="/login">GO END LOGEN</a></li>
            <li class="navItem"><a class="navLink" href="/register">GO END REDJISTAR</a></li>
        </ul>
    </header>
    <body>
        {{{body}}}
    </body>
</html>