<form className="theater-form" action="/play/create" method="post">
    <h1>Create Theater</h1>
    <div>
        <label htmlFor="title">Theater Title:</label>
        <input type="text" placeholder="Theater name" name="title" value="{{playTitle}}">
    </div>
    <div>
        <label htmlFor="description">Theater Description:</label>
        <textarea name="description" placeholder="Description">{{description}}</textarea>
    </div>
    <div>
        <label htmlFor="imageUrl">Image url:</label>
        <input type="text" name="imageUrl" placeholder="Image Url" value="{{imageUrl}}">
    </div>
    <div className="check">
        <input type="checkbox" id="check-box" name="isPublic" {{#if isPublic}}checked{{/if}}>
        <label htmlFor="check-box">Public</label>
    </div>
    <button className="btn" type="submit">Submit</button>
</form>


