<form action="/user/register" method="post">
    <h2>Register</h2>
    <div class="on-dark">
        <label for="username">Username:</label>
        <input type="text" placeholder="Steven" name="username" value="{{username}}">
    </div>

    <div class="on-dark">
        <label for="password">Password:</label>
        <input type="password" placeholder="********" name="password" value="">
    </div>

    <div class="on-dark">
        <label for="repeatPassword">Repeat Password:</label>
        <input type="password" placeholder="********" name="rePassword" value="">
    </div>

    <button class="btn" type="submit">Register</button>
</form>