<section id="viewLogin">
    <h2>Login:</h2>
    <form action="/user/login" method="post" id="formLogin">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email"
               placeholder="Enter your Email" value="{{email}}">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"
               placeholder="Enter your Password">
        <input type="submit" class="login" value="Login">
    </form>
</section>