<h1>sore, bad logen or redjistar credentials.
    <br>
    make sore dat da imeil is SOMETHING@SOMETHING.SOMETHING and da pasuard is 3 or mor karakters long. OLSO PASSUARDS MAST BE SEIM. OBVIOSLI. Bai bai.
</h1>