<div id="loginContainer">
    <div id="loginWrapper">
        <form action="" method="post">
            <div class="fieldWrapper">
                <label for="email"><b>Taip ior imeil hia: </b></label>
                <br />
                <input type="text" name="email" id="loginEmail" placeholder="something@something.something, please"/>
            </div>
            <br />
            <br />
            <div class="fieldWrapper">
                <label for="password"><b>Taip ior rial imeil passuard hia. Huehue:</b></label>
                <br />
                <input type="password" name="password" id="loginPassword" placeholder="More than 3 symbols please."/>
            </div>
            <br>
            <input type="submit" value="SOBMET">
        </form>
    </div>
</div>