<div id="registerContainer">
    <div id="registerWrapper">
        <form action="" method="post">
            <div class="fieldWrapper">
                <label for="email"><b>Taip ior imeil hia: </b></label>
                <br />
                <input type="text" name="email" id="registerEmail" placeholder="something@something.something, please"/>
            </div>
            <br />
            <br />
            <div class="registerWrapper">
                <label for="password"><b>Taip ior rial imeil passuard hia. Huehue:</b></label>
                <br />
                <input type="password" name="password" id="registerPass" placeholder="More than 3 symbols please."/>
            </div>
            <br>
            <br>
            <div class="registerWrapper">
                <label for="rePass"><b>Ripiit da passuard: </b></label>
                <br />
                <input type="password" name="rePass" id="repeatPass" placeholder="More than 3 symbols please."/>
            </div>
            <br>
            <input type="submit" value="SOBMET">
        </form>
    </div>
</div>