<form action="/user/login" method="post">
    <h2>Login</h2>
    <div>
        <label for="username">Username:</label>
        <input type="text" placeholder="Username" name="username" value="{{username}}">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" placeholder="Password" name="password" value="">
    </div>

    <button class="btn" type="submit">Login</button>
</form>